.div1 ul li{
    list-style-type: none;
    justify-content: right;
    display: inline-block;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 2%;
}
.body{
    background-color: rgb(238, 234, 234);
    
 
}

.main{
    border-style: hidden;
    height:600px;
    background-image: url(images/div.png);
    background-size: cover;
  
    
}

.fix{
    margin-top: -25em;
    margin-left: 11%;
    border-style: hidden;
    font-size: 20px;
    
}
#fix2{
    color: rgb(241, 14, 14);
}
#button5{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-image: linear-gradient(to right,rgb(219, 36, 36), rgb(245, 201, 6));
    color: azure;
    font-weight: bold ;
}
.eve{
   display: flex;
   list-style: none;
   gap: 30px;
   float: right;
   margin-top: -2.5em;
   margin-left: 15%;
   
}
#button6{
    height: 20px;
    background: none ;
    width: 70px;
}

.puma{
border-style: hidden;
background-color: white;
width: 300px;
height: 140px;
position: absolute;
top: 120%;
text-align: right;
margin-left: 12%;
text-align: right;
}

.nike{
    border-style: hidden;
    background-color: white;
    width: 300px;
     position: absolute;
    right: 550px ;
    left: 520px;
    top: 120%;
    
    height: 140px; 
    text-align: right;

}

.adidas{
    border-style: hidden;
    background-color: white;
width: 300px;
height: 140px;
position: absolute;
right: 100px;
top: 120%;
text-align: right;

}
#best{
    margin-top: 6%;
    text-align: center;
    font-size: 1.4em;
  
}

.list1{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 12%;
    position: relative;
    top: 100px;
   
}
#men{
    color: red;
}
#pumashoe1{
    width: 130px;
    
    position: absolute;
    top: 5px;
    left: 5px;
    transform: rotate(-45deg);  
}

.puma p{
    margin-right: 8%;
    margin-bottom: 2%;
}

#pumabold1{
    margin-right: 35%;
    font-weight: bolder;
    font-size: 1.3em;
}
#shoe1{
    margin-right: 10%;
}
#nikeshoe1{
    width: 95px;
    margin-right: 85% ;
    position: absolute;
    top: 39px;
    left:10px ;
    transform: rotate(-42deg);
}
#nikebold{
    font-weight: bolder;
    font-size: 1.3em;
    margin-right: 40%;
}

.nike p{
    margin-right: 8%;
    margin-bottom: 2%;

}
#adidasshoe1{
    width: 95px;
    margin-right: 85%;
    position: absolute;
    top: 33px;
    left: 10px;
    transform: rotate(-45deg);
}
#adidbold{
    font-weight: bolder;
    font-size: 1.3em;
    margin-right: 35%;
}
.adidas p{
    margin-right: 10%;
    margin-bottom: 2%;

}
#feat{
    font-size: 2.5em;
    text-align: center;
     position: relative;
    top: 90px; 
    
}
#adid{
    width: 100px;
position: absolute;
margin-top: 2%;
margin-left: 4%;
transform: rotate(-35deg);
transform: scaleX(-1);


}
#smalldiv1{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
    background-color: white;
}
.rad{
    color: red;
}
#phrase1 {
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
 
}
#word1{
    word-spacing: 50px;
    
}
.smalldiv2{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
background-color: white;
}
#phrase2{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
 
}
#word2{
    word-spacing: 78px;
}
#nike3{
    width: 100px;
    position: absolute;
    margin-top: 3%;
    margin-left: 4%;
    
}
.bigdiv1{
    padding: 10px;
    display: flex;
    justify-content: center;
     position: relative;
    top: 110px; 
    
}
.smalldiv3{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
    background-color: white;
}
#phrase3{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
 
}

#word3{
    word-spacing: 78px;
}
#puma2{
    width: 100px;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
    transform: rotate(19deg);
    transform: scaleX(-1);
}
.smalldiv4{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
background-color: white;
}

#phrase4{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
 
}

#word4{
    word-spacing: 78px;
}
#fila1{
    width: 90px;
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
    transform: rotate(-50deg);
    transform: scaleX(-1);
}
.smalldiv5{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
    background-color: white;
}
#phrase5{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
}
#word5{
    word-spacing: 78px;
}
#puma3{
    width: 110px;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
   
}
.smalldiv6{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 8%;
   background-color: white;
}
#phrase6{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
}
#word6{
    word-spacing: 78px;
}
#nike4{
    width: 90px;
    position: absolute;
    margin-left: 4%;

}
.smalldiv7{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
    background-color: white;
}
#phrase7{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
}

#word7{
    word-spacing: 78px;
}
#adidas5{
    width: 110px;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}
.smalldiv8{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;  
    background-color: white; 
}

#phrase8{
    position: absolute;
    margin-top: 7%;
    margin-left: 7px;
}

#word8{
word-spacing: 78px;

}
#adidas8{
    width: 100px;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
    transform: rotate(-20deg);
    transform: scaleX(-1);
}
.bigdiv2{
    padding: 10px;
    display: flex;
    justify-content: center;
     position: relative;
    top: 150px; 
}
#button2{
    text-align: center;
    color: red;
    background: none;
    border-radius: 5px;
    border-color: orangered;
}
.smalldiv9{
    border-style: hidden;
    width: 420px;
    height: 250px;
    margin-left: 11%;
   display: flex;
   background-color: rgb(242, 248, 248);

}
#white{
    width: 200px;
    height: 250px;
    

  
}
.phrase9{
    position: relative;
    left: 28px;
}.phrase10{

    position: relative;
    left: 28px;
}
.smalldiv10{
    border-style: hidden;
    width: 420px;
    height: 250px;
    margin-left: 7%;
   display: flex;
   position: relative;
   right: -700px;
   bottom: 260px;
   background-color: rgb(242, 248, 248);

}
#black{
    width: 200px;
    height: 250px;
    
}
.smalldiv11{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 36px;
    width: 400px;
    position: relative;
    right: -700px;
    top: -200px;
    background-color: rgb(238, 234, 234);
    
}

.smalldiv11 p{
    margin-left: 5%;
}
.smalldiv12{
    border-style: hidden;
    background-color: rgb(222, 195, 236);
    border-radius: 25px;
    width: 800px;
    height:190px;
    position: relative;
    right: -130px;

}
#h33{
    text-align: center;
    position: relative;
    top: 20px;
}
#email{
    position: relative;
    right: -280px;
    top: 40px;
    border-radius: 5px;
    height: 30px;
    background-color: beige;
}
#button3{
   position: relative;
   right: -300px;
   top: 40px;
   border-radius: 6px ;
   height: 30px;
   background-image: linear-gradient(to right,rgb(247, 28, 28),rgb(248, 169, 21));
   color: white;
}
.bigdiv3{
    display: flex;
    justify-content: space-between;
    

}
.shoe1{
    display: inline-flex;
    margin-left: 40%;
    margin-top: -100%;
    
}
.bigdiv3{
    margin-top: 12%;
    
    
}
.footer{
    display: flex;
    border-style: hidden;
    height: 200px;
    background-color: rgb(247, 114, 114);
    overflow: hidden;
}
.discover{
    position: relative; 
    right: 100px;
    color: white;
    margin-left: 21%;
}
.more{
color: white;
margin-left: 10%;
}
.contact{
    color: whitesmoke;
    margin-left: 10%;
}
.company{
    color: white;
    margin-left: 8%;
}
.fur{
    /* position: relative; */
    /* left: 100px ; */
    color: white;
    margin-left: 3%;
}
#all{

        margin-top: 70%;
        margin-left: -250%;
    
    /* position: relative;
    /* top: 140px; */
    right: 20%; 
}
#test{
color: rgb(248, 18, 18);

}
#test2{
    margin-left: 11%;
    margin-top: 5%;
}
.new{
    position: relative;
    top: 200px;
}
#button4{
    height: 50px;
width: 130px;
font-weight: bold;
font-size: 1.2em;
color: rgb(230, 9, 9);
border-color: rgb(216, 74, 74);
border-radius: 10px;
position: relative;
left: 550px;
top: 200px;
}
#arrival{
    margin-left: 550px;
}

#special1{
    color: red;
    font-weight: bolder;
}
#special2{
    color: red;
    font-weight: bolder;
}
#price2{
    color: red;
}
#price1{
    color: red;
}
#button7{
    color: white;
    background-image: linear-gradient(to right,rgb(248, 41, 41),rgb(248, 174, 36));
    border-radius: 6px;
}
#button44{
    color: white;
    background-image: linear-gradient(to right,rgb(248, 39, 39),rgb(252, 177, 39));
    border-radius: 5px;
}
#button22{
    color: red;
    background: none;
    border-radius: 5px;
    border-color: orangered;
}
#button11{
    background-color:rgb(241, 65, 65);
    color: white;
    border-radius: 5px;
    margin-right: 28% ;
    margin-top: 17px;
    width: 80px;
    height: 28px;
}
#button55{
color: white;
background-color: rgb(241, 65, 65);
border-radius: 5px;
margin-right: 27% ;
    margin-top: 17px;
    width: 80px;
    height: 28px;

}
#button77{
    color: white;
    background-color: rgb(241,65,65);
    border-radius: 5px;
    margin-right: 28% ;
    margin-top: 17px;
    width: 80px;
    height: 28px;
}
.class1 ul li{
    list-style-type: none;
    float: left;
    padding: 15px;

}
.class2 {
    margin-left: 70%;
    margin-top: -1em;
}
.class3 ul li{
    position: relative;
    top: 70px;
    right: 406px;
    
}
#min{
    color: red;

}

#color{
color: orangered;

}
.brown{
    border-style: hidden;
    border-radius: 15px;
    margin-top: 7%;
    width: 450px;
    height: 500px;
    margin-left: 4%;
    background-color: rgb(224, 217, 217);
}
#sneaker2{
    width: 500px;
    width: 400px;

}
.minimum{
border-style: hidden;
width: 450px;
margin-left: 43%;
margin-top:-54% ;
/* position: absolute;
left: 550px;
bottom: -197em; */
}
.bigdiv111{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    right: 60px;
    
}

#sim{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 1.5em;
}
.footer1{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-style: hidden;
    /* gap: 20px; */
    height: 200px;
    background-color: rgb(247, 114, 114);
    position: relative;
    top: 160px;
}
#min{
    color: red;
}
#off{
    color: red;
}
#size{
    padding: 85px;
    color: red;
}
#s{
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 100%;
}
#chart{
    word-spacing: 10px;
    font-size: 1.5em;
}
#button88{
    border-color: red;
    color: red;
    height: 40px;
    font-weight: bold;

}
#button99{
    height:40px ;
    position: relative;
    left: 30px;
    color: white;
    background-image: linear-gradient(to right,rgb(219, 36, 36), rgb(245, 161, 6));
}
#prod{
    font-weight: lighter;
}

#image2{
    width: 112px;
    position: relative;
    top: 10px;

}
#image3{
    width: 130px;
    position: relative;
    left: 50px;
    bottom: 2em;
}
#image4{
    width: 150px;
    position: relative;
    left: 70px;
    bottom: 1em;
}
.shoes3{
    display: flex;
    border-style: hidden;
    width: 450px;
    margin-left: 4%;
}
.main2{
    background-color: rgb(230, 226, 226);
    margin-top: 60px;
}
#icon1{
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 100%;
    margin-left: 24px;
}
#heart1{
    margin-left: 6%;
    margin-top: 5%;
}
#shoebold{
    font-weight: bolder;
    font-size: 1.1em;
}
#pricebold{
    font-weight: bold;
}
#lock{
    margin-left: 56%;
}
#star{
    margin-right: -16%;
    height: 1px;
    width: 1px;
    color: yellow
}
.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(218, 187, 187);
    border-radius: 50%;
    display: inline-block;
  }
.dots{
    margin-left: 11%;
}
.socialmedia{
    word-spacing: 40px;
    
}
#google{
    width: 80px;
    height: 32px;
    border-radius: 10%;
}
#apple{
    width: 80px;
    height: 23px;
    margin-bottom: 3%;
    border-radius: 10%;
}
#idris{
    width: 55px;
    height: 60px;
    border-radius: 70%;
    position: relative;
    left: 640px;
    bottom: 140px;
}
.smalldiv211{
    border-style: hidden;
    width: 210px;
    height: 230px;
    margin-left: 7%;
    background-color: white;
}
.body3{
    background-color: rgb(224, 206, 206);
}






@media (max-width: 700px) {

.main2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#sneaker2{
    width: 230px;
    height: 200px;

}
.shoes3{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: -9%;
}
.minimum{
    font-size: 0.7em;
    margin-top: -10%;
    margin-left: 2%;
}

#sim{
    font-size: 0.7em;
    margin-right: 30%;
}
.bigdiv111{
display: grid;
}
.smalldiv211{
    border-style: solid;
    border-color: grey;
}
.smalldiv2{
    border-color: grey;
    border-style: solid;
}
.smalldiv3{
    border-style: solid;
    border-color: grey;
}
.smalldiv4{
    border-style: solid;
    border-color: grey;
}
.footer1 p{
    color: black;
    font-size: 0.8em;

}
.footer1{
    display: block;
    grid-template-columns: repeat(1,1fr);

}
#image2{
    margin-left: 5%;
}
#image3{
    margin-left: -6%;
}
#image4{
    margin-left: -12%;
}

.class2 {
    margin-left: -2%;
}
.fix{
    font-size: 1em;
}
.fix h5{
    font-size: 0.6em;
}
#best{
    font-size: 0.9em;
}
.bigdiv3{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
#feat{
    font-size: 1em;
}
.bigdiv1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
#smalldiv1{
    border-style: solid;
    border-color: grey;
}
.bigdiv2{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.smalldiv10{
    width: 100px;
    margin-left: -180%;
    margin-top: 150%;
   
}
.smalldiv9{
    width: 100px;
    margin-left: 1%;
}
#phrase9{
    font-size: 0.2em;
}
#phrase10{
    font-size: 0.2em;
}
.smalldiv12{
    width: 250px;
    margin-left: -29%;
}
#email{
    margin-left: -120%;
}


} 